:root{
--background-color: #0f0e17;
--primary-color: #fffffe;
--paragraph-color: #a7a9be;
--button-color: ##ff8906;
}

body,*{
    margin: 0;
    padding: 0;
    background-color: var(--background-color) ;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1,h2,h3{
    margin: 20px auto;
}